img {
  width: 100%;
}

header {
  margin: 0;
  height: 100vh;
}

.background-video {
  position: absolute;
  z-index: -10000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
}


/* ABOUT US */


.about-section {
  padding: 60px 0;
}
.about-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
}
.about-text {
  font-size: 1.1rem;
  line-height: 1.6;
}
.about-img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

input[type="text"] {
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  border-radius: 0%;
}

.listening-question-text {
  text-align: left;
}

ul,
ol {
  list-style: none;
}