header {
    margin: 0;
    height: 100vh;
}

img {
    max-width: 100%;
}

/* HERO */

@media only screen and (max-width: 768px) {
    .masthead {
        position: relative;
    }

    .masthead-subheading {
        position: absolute;
        top: 15%;
        font-size: 45px !important;
        line-height: 50px !important;
    }

    .masthead-heading {
        position: absolute;
        top: 35%;
        font-size: 54px !important;
    }
}

@media only screen and (min-width: 480px) {
    .masthead {
        position: relative;
    }

    .masthead-subheading {
        position: absolute;
        top: 2%;
        line-height: 30px !important;
        font-size: 28px !important;
    }

    .masthead-heading {
        position: absolute;
        top: 13%;
        font-size: 40px !important;
    }
}


/* ABOUT US */
.carousel-item {
    transition: transform 0.4s ease-in-out;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

@media (max-width: 767.98px) {
    .carousel-item .col-12:not(:first-child) {
        display: none;
    }
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    background: none;
    /* Removed background */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.card {
    height: 350px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media (min-width: 992px) {
    .carousel-custom {
        padding-left: 7%;
    }

    .carousel-custom .card {
        margin-bottom: 2rem;
    }

    .card-title {
        font-size: 1.5rem;
    }

    .card-text {
        font-size: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .carousel-custom {
        padding-left: 3.5%;
    }

    .carousel-custom .card {
        margin-bottom: 1.5rem;
    }

    .card-title {
        font-size: 1.25rem;
    }

    .card-text {
        font-size: 0.9rem;
    }
}

@media (max-width: 767px) {
    .carousel-custom .card {
        margin-bottom: 1rem;
    }

    .carousel-custom {
        padding-left: 18%;
    }
}

.background-video {
    position: absolute;
    z-index: -10000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
}