img {
  width: 100%;
}

header {
  margin: 0;
  height: 100vh;
}

.background-video {
  position: absolute;
  z-index: -10000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
}


/* ABOUT US */


.about-section {
  padding: 60px 0;
}
.about-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
}
.about-text {
  font-size: 1.1rem;
  line-height: 1.6;
}
.about-img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

input[type="text"] {
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  border-radius: 0%;
}

.listening-question-text {
  text-align: left;
}

ul,
ol {
  list-style: none;
}





.listening-question-title {
  color: #343a40;
  font-weight: bold;
  margin-top: 2rem;
}
.listening-question-subtitle {
  color: #495057;
  margin: 1rem 0;
}
.listening-question-text {
  margin-bottom: 2rem;
}
.checkbox-group {
  display: flex;
  flex-direction: column;
}
.checkbox-group input[type="checkbox"]:disabled + label {
  opacity: 0.5;
  cursor: not-allowed;
}
.result {
  margin-top: 20px;
  padding: 15px;
  border-radius: 5px;
}
.correct {
  background-color: #d4edda;
  color: #155724;
}
.incorrect {
  background-color: #f8d7da;
  color: #721c24;
}
.form-control.d-inline-block {
  width: 150px;
  margin: 0.5rem 0;
}